body {
  font-size: large;
}

.top_panel {
  display:flex;
  background-color: #b145ff;
  min-height: fit-content;
  align-items: center;
  flex-wrap: wrap;
}
.top_panel > div{
  color: #f2f2f2;
  margin: 10px;
  min-width: fit-content;
}

.config_panel_table #text_groupe {
  width: 20%;
}

table {
  background-color: rgb(219, 219, 219);
  margin-top: 20px;
  border-radius: 35px;
  border-collapse: collapse;
  width: calc(175px*7);
}
th {
  font-size: larger;
}
th, td {
  border-collapse: collapse;
  text-align: center;
  width: 175px;
  height: 75px;
}


/*Cours*/
#Math ,#TD-Math{
  background-color: rgb(165, 210, 233);
  border: 1px solid black;
}
#PC, #TD-PC, #TP-PC {
  background-color: rgb(181, 249, 181);
  border: 1px solid black;
}
#SII-A, #TD-SII-A, #TP-SII-A, #SII-E, #TD-SII-E, #TP-SII-E{
  background-color: rgb(243, 243, 167);
  border: 1px solid black;
}
#ENG {
  background-color: rgb(255, 165, 196);
  border: 1px solid black;
}
#Info, #TD-Info {
  background-color: rgb(175, 176, 251);
  border: 1px solid black;
}
#EPS {
  background-color: rgb(78, 189, 204);
  border: 1px solid black;
}
#TIPE {
  background-color: rgb(115, 162, 195);
  border: 1px solid black;
}
#FR, #TD-FR {
  background-color: rgb(248, 201, 160);
  border: 1px solid black;
}

/*Autre pour l'EDT*/
#DS , #Colle, #Colle_Collision, #Full{
  background-color: rgb(200, 200, 200);
  border: 1px solid black;
  border-right: none;
}
#Colle_Collision {
  background-color: lightcoral;
}
#empty {
  border: 1px solid black;
  border-top: 0px;
  border-right: 1px solid;
  border-left: 1px solid;  
  border-bottom: 0px;
}
#Ferie {
  background-color: lightcoral;
  border: 1px solid black;
}
